<div class="cmd cmd-widget" data-type="action" data-subtype="slider" data-cmd_id="#id#" style="width : 150px;height : 120px;display : block;">
  <div>
        <div style="margin-top : 20px;" >
            <input type="text" class="dial" value="#state#" data-min="#minValue#" data-max="#maxValue#" data-step="0.5" data-width="110" data-height="110"/>
        </div>
        <div style="position: relative; top: -20px; left : 70px;">
            #unite#
        </div>
    </div>
    <script>
        $.include(['plugins/arrosageAuto/core/template/js/jquery.kontrol.js'], function() {
          $(".cmd[data-cmd_id=#id#] .dial").dial({
              fgColor: "#FFFFFF",
                      bgColor: '#cmdColor#',
                      noScroll: true,
                      release: function(v) {
                          jeedom.cmd.execute({id: '#id#', value: {slider: v}});
                      }
              });
            });
    </script>
</div>
