<div class="eqLogic eqLogic-widget allowResize" data-eqLogic_id="#id#" data-version="dashboard" style="background-color: #background_color#;height: #height#;width: #width#;#style#;min-height: 80px;min-weight:80px;">
	<span class="statusCmd" style="position : absolute;left : 5px;bottom:0px; width : 30px;z-index: 1030;"></span>
	<center class="widget-name">
		<span style="font-weight:bold;"><a href="#eqLink#">#name#</a></span>
	</center>
	<center>
		<div style="position : relative; left : 15px;" class="tooltips">
			<span style="margin-left: 5px;font-size: 0.8em;">#Next#</span><br>
		</div>
	</center>
	<center>
		<span style="font-weight:bold;">#armed##released#</span>
	</center>
	<center>
		<span style="font-weight:bold;">#regCoefficient#</span>
	</center>
</div>
